@model MaterialesClasificacionViewModel
@using SYGESTMunicipalSync.Areas.OFGA.Models.ViewModels
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutOFGA.cshtml";
    List<SelectListItem> Lista = ViewBag.ListaTMaterial;
}

<div class="row">
    <div class="col-md-12 col-lg-12">
        <h3 class="text-light"
            style="text-align:center;background-color:#263182;">
            Agregar Material
        </h3>
    </div>
</div>
<!-- ======= About Section ======= -->
<div class="row no-gutters">
    <div class="col-md-7">
        <div class="contact-wrap w-100 p-md-5 p-4">
            <h2 class="text-info">Nuevo Registro</h2>
            <br>
            <form method="post" asp-action="Create" id="viewAgregar">
                <div class="backgroundWhite">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class=" form-group row">
                        <div class=" col-md-2">
                            <h5><label asp-for="MaterialId" class="col-form-label"></label></h5>
                        </div>
                        <div class="col-md-9">
                            <input asp-for="MaterialId" value="@ViewBag.ID" readonly class="form-control" />
                        </div>
                        <span asp-validation-for="MaterialId" class=" text-danger"></span>
                    </div>

                    <div class=" form-group row">
                        <div class=" col-md-2">
                            <h5><label asp-for="Nombre" class="col-form-label"></label></h5>
                        </div>
                        <div class="col-md-9">
                            <input asp-for="Nombre" class="form-control" />
                        </div>
                        <span asp-validation-for="Nombre" class=" text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label asp-for="Color" class="col-form-label"></label>
                        </div>
                        <div class="col-md-8">
                            <input type="checkbox" asp-for="Color" class="form-control" />
                        </div>
                    </div>

                    @*Material Type*@
                    <div class="form-group row">
                        <div class="col-md-2">
                            <h5><label asp-for="ClasificacionId" class="col-form-label"></label></h5>
                        </div>
                        <div class="col-md-8">
                            <select asp-for="ClasificacionId" class="form-control"
                                    asp-items="@Lista"></select>
                        </div>
                        <span asp-validation-for="ClasificacionId" class="text-danger"></span>
                    </div>
                    @*End Create Register Date Field*@

                    <div class="form-group row">

                        <div class="col-md-4 text-md-right">
                            <a asp-action="Index" type="button" style="color:white"
                               class="btn btn-success fa fa fa-arrow-circle-left inicio">
                                Regresar
                            </a>
                        </div>
                        <div class="col-md-8 text-md-center">
                            <input type="button" value="Agregar" id="btnAgregar"
                                   class="btn btn-info"
                                   onclick="abrirModal()" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.js"></script>







    <script src="~/js/sweetalert2.js"></script>
    <script src="~/js/Utilitarios.js"></script>
    <script>
        function abrirModal() {
            verModal('Agregar Materiales', '¿Realmente Desea Agregar Estos Materiales?').then((result) => {
                if (result.value) {
                    var viewAgregar = document.getElementById("viewAgregar");
                    viewAgregar.submit();
                    Swal.fire(
                        'Los materiales fueron agregados!',
                        'exitosamente!.',
                        'success'
                    )
                }
                else if (result.dismiss === Swal.DismissReason.cancel) {
                    Swal.fire(
                        'Cancelado',
                        'Los materiales no fueron agregados!!!:)',
                        'error'
                    )
                }
            })
        }
    </script>
}