<head class="ftco-bg-dark-main">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    @*inicio*@
    <link href="~/lib/syncfusion-javascript/Content/ej/web/bootstrap-theme/ej.web.all.min.css" rel="stylesheet" />
    <link href="~/lib/ej.responsive.css" rel="stylesheet" />
    <script src="~/js/ej.web.all.min.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
          crossorigin="anonymous" />
    @*fin*@
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/js/jquery-ui.js"></script>
    <link href="~/css/jquery-ui.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/css/flaticon.css" rel="stylesheet" />
    <link href="~/css/icomoon.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />

    <link href="~/Patentes/OP/assets/css/style.css" rel="stylesheet" />
</head>


<div class="search-background" style="color:black">
    <div class="container">
        <div class="row">

            <div class="col-md-6 d-md-flex justify-content-end mb-md-0 mb-3">
                <p>Bienvenido los servicios digitales de la Municipalidad de Hojancha</p>
            </div>

            <div class="col-md-6 d-md-flex justify-content-end mb-md-0 mb-3">
               
                <span><a asp-area="" asp-controller="Login" asp-action="CerrarSesion"><i class="fa fa-key" aria-hidden="true"></i>Salir</a></span>
                <span><a asp-area="" asp-controller="Home" asp-action="CargarUsuario"><i class="fa fa-key" aria-hidden="true"></i></a></span>
                
            </div>



        </div>
    </div>
    <div class="container pt-3 pb-2">
        <div class="container pt-3 pb-2">
            <div class="row justify-content-between">



                <div class="col-md-8 order-md-last">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <a class="navbar-brand" style="color:#8c552e" asp-area="" asp-controller="Home" asp-action="Index">SyGest<span>Municipal</span> </a>
                        </div>

                    </div>
                </div>


                <div class="col-md-6 col-lg">
                    <div class="social-media">
                        <p class="mb-0 d-flex">
                            @* LINKS DE LAS REDES SOCIALES *@
                            <a href="https://www.facebook.com/MUNICIPALIDAD-DE-HOJANCHA-218380324851885/" class="d-flex align-items-center justify-content-center" target="_blank">
                                <span class="fa fa-facebook">
                                    <i class="sr-only">Facebook</i>
                                </span>
                            </a>

                            <a href="https://www.instagram.com/explore/locations/256658138352395/municipalidad-hojancha/" class="d-flex align-items-center justify-content-center" target="_blank">
                                <span class="fa fa-instagram">
                                    <i class="sr-only">Instagram</i>
                                </span>
                            </a>
                            @* FIN LINKS DE LAS REDES SOCIALES *@

                        </p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

