
<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.js"></script>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
      
    <title>@ViewData["Title"] - OFGA</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

   
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Ambiental/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Ambiental/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/Ambiental/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Ambiental/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/Ambiental/assets/vendor/line-awesome/css/line-awesome.min.css" rel="stylesheet">
    <link href="~/Ambiental/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Ambiental/assets/vendor/aos/aos.css" rel="stylesheet">


    <link href="~/css/style.css" rel="stylesheet"/>
    <!-- Template Main CSS File -->
    <link href="~/Ambiental/assets/css/style.css" rel="stylesheet">

    <link href="~/lib/syncfusion-javascript/Content/ej/web/bootstrap-theme/ej.web.all.min.css" rel="stylesheet" />
    <link href="~/lib/ej.responsive.css" rel="stylesheet"/>
    <script src="~/js/ej.web.all.min.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
          crossorigin="anonymous" />
   
</head>

<body>

    @* LOGIN -Registrarse *@
    <partial name="_Encabezado" />
    @* NAV *@
    <header>
        <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
            <div class="container-fluid" style="padding-right: 25px">
                @* LOGO  *@
                <div class="logo-img">
                    <a asp-area="OFGA" asp-controller="Home" asp-action="Index">
                        <img src="~/Ambiental/assets/img/Logo_ColorSinFondo (1).png" alt="">
                    </a>
                </div>
                @* LOGO  *@
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                        aria-controls="ftco-nav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span> Menu
                </button>

                <div class="collapse navbar-collapse" id="ftco-nav">

                    <ul class="navbar-nav m-auto">

                        @* LINK DE INICIO *@
                        <li class="nav-item active">
                            <a class="nav-link" asp-area=""
                               asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>

                        @* LINK DE INICIO OFIM *@
                        <li class="nav-item active">
                            <a class="nav-link" asp-area="OFGA"
                               asp-controller="Home" asp-action="Index">OFGA</a>
                        </li>

                        @* MENU DE MANTENIMIENTO PARA ADMINISTRADOR OFGA *@
                        @if (SYGESTMunicipalSync.Areas.Admin.Models.Utilitarios.MenuMantOFGA != "")
                        {
            <li class="nav-item dropdown text-white-50">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropDownMenuLink"
                   role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    Mantenimiento
                </a>
                @* CRUD DE TIPOS CLASIFICACIÓN *@
                <ul class="dropdown-menu" aria-labelledby="navabarDropDownMenuLink">
                    @*@if (SYGESTMunicipalSync.Areas.Admin.Models.Utilitarios.ListaController.Contains("Clasificación Materiales"))
                        {*@
                    <li class="nav-item active">
                        <a class="nav-link" asp-action="Index"
                           asp-controller="Clasificacion" asp-area="OFGA">Clasificación Materiales</a>
                    </li>

                    @*}*@
                    @* CRUD DE MATERIALES ADMITIDOS *@
                    @*@if (SYGESTMunicipalSync.Areas.Admin.Models.Utilitarios.ListaController.Contains("Materiales Admitidos"))
                        {*@
                    <li class="nav-item active">
                        <a class="nav-link" asp-action="Index"
                           asp-controller="Materiales" asp-area="OFGA">Materiales Admitidos</a>
                    </li>
                    @*}*@
                    @* CRUD DE TIPOS DE DENUNCIA *@
                    @*@if (SYGESTMunicipalSync.Areas.Admin.Models.Utilitarios.ListaController.Contains("Tipos Denuncia"))
                        {*@
                    <li class="nav-item active">
                        <a class="nav-link" asp-action="Index"
                           asp-controller="TipoDenuncia" asp-area="OFGA">Tipos Denuncia</a>
                        </li>
                            @*}*@

                </ul>
            </li>
             } 
                        @* MENU CEMTRO ACOPIO*@
                        @if (SYGESTMunicipalSync.Areas.Admin.Models.Utilitarios.MenuAcopio != "")
                        {
            <li class="nav-item dropdown text-white-50">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropDownMenuLink"
                   role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    Centro Acopio
                </a>
                @* CRUD DE PACAS *@
                <ul class="dropdown-menu" aria-labelledby="navabarDropDownMenuLink">
                    @*@if (SYGESTMunicipalSync.Areas.Admin.Models.Utilitarios.ListaController.Contains("Pacas"))
                        {*@
                    <li class="nav-item active">
                        <a class="nav-link" asp-action="Index"
                           asp-controller="Pacas" asp-area="OFGA">Pacas</a>
                    </li>

                    @*}*@
                    @* CRUD DE RECUENTO *@
                    @*@if (SYGESTMunicipalSync.Areas.Admin.Models.Utilitarios.ListaController.Contains("Recuento"))
                        {*@
                    <li class="nav-item active">
                        <a class="nav-link" asp-action="Index"
                           asp-controller="Recuento" asp-area="OFGA">Recuento</a>
                    </li>
                    @*}*@
                    @* CRUD PUNTOS DE RECOLECCION*@
                    @*@if (SYGESTMunicipalSync.Areas.Admin.Models.Utilitarios.ListaController.Contains("Punto de Recuperación Material"))
                        {*@
                    <li class="nav-item active">
                        <a class="nav-link" asp-action="Index"
                           asp-controller="PuntoRecMaterial" asp-area="OFGA">Puntos Recuperación Material</a>
                    </li>
                    @*}*@
                    @* CRUD INGRESO POR VENTAS*@
                    @*@if (SYGESTMunicipalSync.Areas.Admin.Models.Utilitarios.ListaController.Contains("Ingreso por Venta"))
                        {*@
                    <li class="nav-item active">
                        <a class="nav-link" asp-action="Index"
                           asp-controller="IngresoVenta" asp-area="OFGA">Ingreso por Venta</a>
                        @*</li>
                            }*@
                </ul>
            </li>
 } @* MENU RESIDUOS ORDINARIOS*@
                        @if (SYGESTMunicipalSync.Areas.Admin.Models.Utilitarios.MenuResi != "")
                        {
            <li class="nav-item dropdown text-white-50">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropDownMenuLink"
                   role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    Residuos Ordinarios
                </a>
                @* CRUD DE REGISTRO DE ENTREGAS DE BASURA *@
                <ul class="dropdown-menu" aria-labelledby="navabarDropDownMenuLink">
                    @*@if (SYGESTMunicipalSync.Areas.Admin.Models.Utilitarios.ListaController.Contains("Registro de Entregas"))
                        {*@
                    <li class="nav-item active">
                        <a class="nav-link" asp-action="Index"
                           asp-controller="Basura" asp-area="OFGA">Registro de Entregas</a>
                    </li>

                    @*}*@
                    @* CRUD DE RUTA DE RECOLECCIÓN *@
                    @*@if (SYGESTMunicipalSync.Areas.Admin.Models.Utilitarios.ListaController.Contains("Rutas de Recolección"))
                        {*@
                    <li class="nav-item active">
                        <a class="nav-link" asp-action="RecoleccionBasura"
                           asp-controller="Home" asp-area="OFGA">Rutas de Recolección</a>
                    </li>
                    @*}*@

                </ul>
            </li>
 } @* MENU DENUNCIAS AMBIENTALES*@
                        @if (SYGESTMunicipalSync.Areas.Admin.Models.Utilitarios.MenuDenun != "")
                        {
            <li class="nav-item dropdown text-white-50">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropDownMenuLink"
                   role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    Denuncias Ambientales
                </a>
                @* CREATE DE REGISTRO DE PERSONAS*@
                <ul class="dropdown-menu" aria-labelledby="navabarDropDownMenuLink">
                    @*@if (SYGESTMunicipalSync.Areas.Admin.Models.Utilitarios.ListaController.Contains("Persona"))
                        {*@
                    <li class="nav-item active">
                        <a class="nav-link" asp-action="Create"
                           asp-controller="Persona" asp-area="Admin">Persona</a>
                    </li>

                    @*}*@
                    @*CREATE DE DENUNCIAS*@
                    @*@if (SYGESTMunicipalSync.Areas.Admin.Models.Utilitarios.ListaController.Contains("Registrar Denuncia"))
                        {*@
                    <li class="nav-item active">
                        <a class="nav-link" asp-action="Create"
                           asp-controller="Denuncia" asp-area="OFGA">Registrar Denuncia</a>
                    </li>
                    @*}*@

                </ul>
            </li>
 } @* MENU DE CONSULTAS*@
                        @if (SYGESTMunicipalSync.Areas.Admin.Models.Utilitarios.MenuCons != "")
                        {
            <li class="nav-item dropdown text-white-50">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropDownMenuLink"
                   role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    Consultas
                </a>
                @* CONSULTA DE DENUNCIAS*@
                <ul class="dropdown-menu" aria-labelledby="navabarDropDownMenuLink">
                    @*@if (SYGESTMunicipalSync.Areas.Admin.Models.Utilitarios.ListaController.Contains("Consulta Denuncia"))
                        {*@
                    <li class="nav-item active">
                        <a class="nav-link" asp-action="Consulta"
                           asp-controller="Denuncia" asp-area="OFGA">Consulta Denuncia</a>
                    </li>

                    @*}*@


                </ul>
            </li>
 } @* MENU PROCESOS FORMATIVOS*@
                        @if (SYGESTMunicipalSync.Areas.Admin.Models.Utilitarios.MenuProcForm != "")
                        {
            <li class="nav-item dropdown text-white-50">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropDownMenuLink"
                   role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    Procesos Formativos
                </a>
                @* INFO DE CHARLAS *@
                <ul class="dropdown-menu" aria-labelledby="navabarDropDownMenuLink">
                    @*@if (SYGESTMunicipalSync.Areas.Admin.Models.Utilitarios.ListaController.Contains("Charlas"))
                        {*@
                    <li class="nav-item active">
                        <a class="nav-link" asp-action="IndexTalks"
                           asp-controller="Charlas" asp-area="OFGA">Charlas</a>
                    </li>

                    @*}*@
                    @* CRUD DE CHARLAS *@
                    @*@if (SYGESTMunicipalSync.Areas.Admin.Models.Utilitarios.ListaController.Contains("Registro Charlas"))
                        {*@
                    <li class="nav-item active">
                        <a class="nav-link" asp-action="Index"
                           asp-controller="Charlas" asp-area="OFGA">Registro Charlas</a>
                    </li>
                    @*}*@
                    @* INFO DE FECHAS CONMEMORATIVAS*@
                    @*@if (SYGESTMunicipalSync.Areas.Admin.Models.Utilitarios.ListaController.Contains("Fechas Conmemorativas"))
                        {*@
                    <li class="nav-item active">
                        <a class="nav-link" asp-action="Index"
                           asp-controller="Home" asp-area="OFGA">Fechas Conmemorativas</a>
                    </li>
                    @*}*@
                    @*INFO DE EDUQUEMONOS*@
                    @*@if (SYGESTMunicipalSync.Areas.Admin.Models.Utilitarios.ListaController.Contains("Eduquémonos"))
                        {*@
                    <li class="nav-item active">
                        <a class="nav-link" asp-action="IndexEduquemonos"
                           asp-controller="Home" asp-area="OFGA">Eduquémonos</a>
                    </li>
                    @*}*@
                </ul>
            </li>
}
                        <li class="nav-item">
                            <a class="nav-link" asp-area="OFGA"
                               asp-controller="Home" asp-action="Contacto">Contáctenos</a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
        
    </header>
    <!-- ======= AQUI INGRESA LA INFO DEL INDEX ======= -->


    <div class="show fullscreen">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <br />
    <br />
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-info">
                        <h3>Municipalidad de Hojancha</h3>
                        <p>Siempre pensando en la comodidad para usted, ofrece sus servicios en línea y al alcalce de sus manos.</p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">

                        <h4>Servicios</h4>
                        <ul>

                            <li><a asp-area="PATENTES" asp-controller="Home" asp-action="Index" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Oficina de Patentes</a></li>
                            <li><a asp-area="OFGA" asp-controller="Home" asp-action="Index" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Oficina de Gestión Ambiental</a></li>
                            <li><a asp-area="OFIM" asp-controller="Home" asp-action="Index" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Oficina de La Mujer</a></li>
                        </ul>
                    </div>




                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Información del contacto</h4>
                        <p>
                            <strong>Ubicación: </strong> Costado Norte del Parque<br>
                            Hojancha, Guanacaste, Costa Rica <br><br>
                            <strong>Teléfono:</strong> 26599116 Ext.223<br>
                            <strong>Email:</strong> info@munihojancha.com<br>
                        </p>

                        <div class="social-links">


                            <a href="https://www.facebook.com/MUNICIPALIDAD-DE-HOJANCHA-218380324851885/" class="facebook" target="_blank"><i class="icofont-facebook"></i></a>
                            <a href="https://www.instagram.com/explore/locations/256658138352395/municipalidad-hojancha/" class="instagram" target="_blank"><i class="icofont-instagram"></i></a>

                        </div>

                    </div>

                    <div class="col-lg-3 col-md-6 footer-newsletter">
                        <h4>Horario de Atención</h4>
                        <div class="opening-hours">
                            <h4>Abierto los Días:</h4>
                            <p class="ftco-footer-widget mb-4">
                                <span>Lunes – Viernes: 7:30 am a 3:30 pm</span>

                            </p>
                        </div>
                        @RenderBody()
                    </div>

                </div>
            </div>
        </div>
        @*sdfghjklkjhgfdsa*@
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery-migrate-3.0.1.min.js"></script>
        <script src="js/jquery.easing.1.3.js"></script>
        <script src="js/jquery.waypoints.min.js"></script>
        <script src="js/jquery.stellar.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Municipalidad</span><span> Hojancha</span></strong>. Todo los Derechos Reservados
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/serenity-bootstrap-corporate-template/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/Ambiental/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Ambiental/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Ambiental/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/Ambiental/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/Ambiental/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/Ambiental/assets/vendor/counterup/counterup.min.js"></script>
    <script src="~/Ambiental/assets/vendor/venobox/venobox.min.js"></script>
    <script src="~/Ambiental/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/Ambiental/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Ambiental/assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Ambiental/assets/js/main.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>