



<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark "
     id="ftco-navbar">
    <div class="container-fluid">

        @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SYGEST</a>*@

        @* LOGO EN EL NAV *@
        <div class="logo-img">
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/images/LogoMuni2.png" alt="">
            </a>

        </div>
        <div class="logo-img">
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/images/logo.png" alt="">
            </a>

        </div>
        @* FIN LOGO EN EL NAV *@

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav m-auto">

                <li class="nav-item active">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                </li>
                @*@if (User.IsInRole(SD.ManagerUser))
        {*@
                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="User" asp-action="Index">Empleados</a>
                </li>
                @*}*@
                <li class="nav-item dropdown text-white-50">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropDownMenuLink"
                       role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        Servicios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navabarDropDownMenuLink">
                        <a class="dropdown-item" asp-action="Index"
                           asp-controller="Home" asp-area="PATENTES">Oficina de Patentes</a>

                        <a class="dropdown-item" asp-action="Index"
                           asp-controller="Home" asp-area="OFGA">Oficina de Gestión Ambiental</a>

                        <a class="dropdown-item" asp-action="Index"
                           asp-controller="Home" asp-area="OFIM">Oficina de La Mujer</a>

                    </div>
                </li>


                <!--<li class="nav-item dropdown text-white-50">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropDownMenuLink"
       role="button" data-toggle="dropdown" aria-haspopup="true"
       aria-expanded="false">
        Trámites
    </a>
    <div class="dropdown-menu" aria-labelledby="navabarDropDownMenuLink">
        <a class="dropdown-item" asp-action="Create"
           asp-controller="PersonPatentes" asp-area="PATENTES">Solicitar una Patente</a>

        <a class="dropdown-item" asp-action="Create"
           asp-controller="Complaint" asp-area="OFGA">Denuncia Ambiental</a>-->
                @*<a class="dropdown-item" asp-action="Index"
        asp-controller="Home" asp-area="OFIM">Empresariedad</a>*@

                <!--</div>


    </li>-->

                <li class="nav-item">
                    <a class="nav-link" asp-area="Home" asp-controller="Home" asp-action="Contactenos">Contáctanos</a>
                </li>

                @*<li class="nav-item">
            <a class="nav-link" asp-area="Home" asp-controller="Home" asp-action="Index">Preguntas Frecuentes</a>
        </li>*@
                <li class="nav-item">
                    <a class="nav-link" asp-area="Home" asp-controller="Home" asp-action="Privacy">Privacidad</a>
                </li>
                @*<partial name="_LoginPartial" />*@
                @*<li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Registrarse</a>
              </li>
        <li class="nav-item">
          <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Log In</a>
         </li>*@

                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="" asp-action="">Registrarse</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="" asp-action="">Inicio de Sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>