
@{
    ViewData["Title"] = "Charlas";
    Layout = "~/Views/Shared/_LayoutOFIM.cshtml";
}

@*Sección Barra para Separación *@
<div class="row">
    <div class="col-md-12 col-lg-12">
        <h3 class="text-light"
            style="text-align:center;background-color:#dc3545;">
            Charlas disponibles y sus objetivos
        </h3>
    </div>
</div>
@*Sección Barra para Separación *@
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class="col-md-7">
                            <div class="contact-wrap w-100 p-md-5 p-4">
                                <h3 class="mb-4">Charlas impartidas por el departamente de La Oficina de la Mujer de la Municipalidad de Hojancha.</h3>
                                <div id="form-message-warning" class="mb-4">
                                    Promoviendo el crecimiento, empoderamiento personal y eprendedurismo de la mujer hojancheña, con el fin de crear un ambiente libre de violencia y con igualdad de derechos para todos.
                                </div>
                                <form method="POST" id="contactForm" name="contactForm" class="contactForm">
                                    <div class="row">
                                        <div id="form-message-success" class="mb-4">
                                            <h6>- Que la mujer entiendad bien el rol fundamental que tiene en nuestra sociedad.</h6>
                                        </div>
                                        <div id="form-message-success" class="mb-4">
                                            <h6>- Que la sociedad pueda reconocer el rol importante de la mujer en ella.</h6>
                                        </div>
                                        <div id="form-message-success" class="mb-4">
                                            <h6>- Promover la educación para una comunidad libre de violencia contra la mujer.</h6>
                                        </div>
                                        <div id="form-message-success" class="mb-4">
                                            <h6>- Darle a conocer a la mujer sus derechos a la educación, salud, trabajo digno, información, participación política, sexualidad y reproducción, bienestar económico, igualdad de género y a no ser objeto de violencia y discriminación.</h6>
                                        </div>
                                        <div id="form-message-success" class="mb-4">
                                            <h6></h6>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-5 d-flex align-items-stretch">
                            <div class="info-wrap w-100 p-5 img" style="background-image: url(https://i.pinimg.com/originals/d5/ae/14/d5ae142451ba044f535ab2019fedc73f.png);">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
