@model SYGESTMunicipalSync.Areas.OFIM.Models.ViewModel.ProductoServicioViewModel
@using SYGESTMunicipalSync.Extensions
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutOFIM.cshtml";

}

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="breadcrumb-hero">
            <div class="container">
                <div class="breadcrumb-hero">
                    <h2>Registro de producto o servicio</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <ol>
                <li><a asp-area="OFIM" asp-controller="ProductoServicio" asp-action="Index">Producto/Servicio</a></li>
                <li>Registro de producto/servicio</li>
            </ol>
        </div>
    </section><!-- End Breadcrumbs -->

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h3 class="text-light"
                style="text-align:center;background-color:darkslategray;">
                Producto/Servicio
            </h3>
        </div>
    </div>

    <!-- ======= About Section ======= -->
    <div class="row no-gutters">
        <div class="col-md-7">
            <div class="contact-wrap w-100 p-md-5 p-4">
                <h2 class="text-info">Nuevo Registro</h2>
                <br>
                <form method="post" asp-action="Create" id="viewAgregar">
                    <div class="backgroundWhite">
                        <div asp-validation.summary="ModelOnly" class="text-danger"></div>
                        <div class=" form-group row">
                            <div class=" col-md-2">
                                <h5><label asp-for="ProductoServicio.Nombre" class="col-form-label"></label></h5>
                            </div>
                            <div class="col-md-9">
                                <input asp-for="ProductoServicio.Nombre" class="form-control" />
                            </div>
                            <span asp-validation-for="ProductoServicio.Nombre" class=" text-danger"></span>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-2">
                                <h5><label asp-for="ProductoServicio.Descripcion" class="col-form-label"></label></h5>
                            </div>
                            <div class="col-md-9">
                                <textarea asp-for="ProductoServicio.Descripcion" rows="4" cols="50" class="form-control"> </textarea>
                            </div>
                            <span asp-validation-for="ProductoServicio.Descripcion" class="text-danger"></span>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-2">
                                <label asp-for="ProductoServicio.Imagen" class="col-form-label"></label>
                            </div>
                            <div class="col-md-6">
                                <input type="file" id="projectImage" name="files" multiple class="form-control" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-2">
                                <label asp-for="ProductoServicio.CatProductoServicioId" class="col-form-label"></label>
                            </div>
                            <div class="col-md-6">
                                <select asp-for="@Model.ProductoServicio.CatProductoServicioId" id="CatProductoServicioId"
                                        asp-items="Model.CatProductoServicio.ToSelectListItem(Model.ProductoServicio.CatProductoServicioId)"
                                        class="form-control"></select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-2">
                                <label asp-for="ProductoServicio.EmpresaId" name="LblEmpresaId" class="col-form-label"></label>
                            </div>
                            <div class="col-md-6">
                                <select asp-for="@Model.ProductoServicio.EmpresaId" name="EmpresaId" id="EmpresaId"
                                        asp-items="@(new SelectList(string.Empty,"Id","Nombre"))"
                                        class="form-control"></select>
                            </div>
                        </div>

                        <div class="form-group row">

                            <div class="col-md-4 text-md-right">
                                <a asp-action="Index" type="button" style="color:white"
                                   class="btn btn-warning">
                                    Regresar
                                </a>


                            </div>

                            <div class="col-md-4 text-md-right">
                                <input type="button" value="Agregar" id="btnAgregar"
                                       class="btn btn-info"
                                       onclick="abrirModal()" />
                            </div>

                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<script src="~/js/sweetalert2.js"></script>
<script src="~/js/Utilitarios.js"></script>
<script>
    function abrirModal() {
        verModal('Agregar producto/servicio', '¿Realmente desea agregar este producto/servicio?').then((result) => {
            if (result.value) {
                var viewAgregar = document.getElementById("viewAgregar");
                viewAgregar.submit();
                Swal.fire(
                    'El producto/servicio fue agregada!',
                    'exitosamente!.',
                    'success'
                )
            }
            else if (result.dismiss === Swal.DismissReason.cancel) {
                Swal.fire(
                    'Cancelado',
                    'El producto/servicio no ha sido agregado!!!:)',
                    'error'
                )
            }
        })
    }
</script>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script type="text/javascript">
     $(document).ready(function () {
         GetEmpresa();
         $('#CatProductoServicioId').change(function () {
             GetEmpresa();
         });
     });
    function GetEmpresa() {
         var url = '@Url.Content("~/")' + "OFIM/Empresa/GetEmpresa/";
        var ddlsource = '#CatProductoServicioId';
         $.getJSON(url, { id: $(ddlsource).val() }, function (data) {
             var items = '';
             $('#EmpresaId').empty();
             $.each(data, function (i, empresa) {
                 items += "<option value='" + empresa.value + "'>" + empresa.text +
                     "</option>";
             });
             $('#EmpresaId').html(items);
         })
     }
</script>

}