
@model SYGESTMunicipalSync.Areas.OFGA.Models.TipoDenuncia
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutOFGA.cshtml";
}

<div class="row">
    <div class="col-md-12 col-lg-12">
        <h3 class="text-light"
            style="text-align:center;background-color:#263182;">
            Crear Tipo de Denuncia
        </h3>
    </div>
</div>


    <!-- ======= About Section ======= -->
    <div class="row no-gutters">
        <div class="col-md-7">
            <div class="contact-wrap w-100 p-md-5 p-4">
                <h2 class="text-info">Nuevo Registro</h2>
                <br>
                <form method="post" asp-action="Create" id="viewAgregar">
                    <div class="backgroundWhite">
                        <div asp-validation.summary="ModelOnly" class="text-danger"></div>
                        <div class=" form-group row">

                            <div class=" col-md-2">
                                <h5><label asp-for="TipoDenunciaId" class="col-form-label"></label></h5>
                            </div>
                            <div class="col-md-9">
                                <input asp-for="TipoDenunciaId" value="@ViewBag.ID" readonly class="form-control" />
                            </div>
                            <span asp-validation-for="TipoDenunciaId" class=" text-danger"></span>
                        </div>
                        <div class=" form-group row">

                            <div class=" col-md-2">
                                <h5><label asp-for="Nombre" class="col-form-label"></label></h5>
                            </div>
                            <div class="col-md-9">
                                <input asp-for="Nombre" class="form-control" />
                            </div>
                            <span asp-validation-for="Nombre" class=" text-danger"></span>
                        </div>


                        <div class="form-group row">
                            <div class="col-md-2">
                                <label asp-for="Descripcion" class="col-form-label"></label>
                            </div>
                            <div class="col-md-6">
                                @Html.TextAreaFor(m => m.Descripcion, new { rows = "3", cols = "56", @class = "text-area" })
                            </div>
                            <span asp-validation-for="Descripcion" class="text-danger"></span>
                        </div>

                        <div class="form-group row">

                            <div class="col-md-4 text-md-right">
                                <a asp-action="Index" type="button" style="color:white"
                                   class="btn btn-success fa fa fa-arrow-circle-left inicio">
                                    Regresar
                                </a>
                            </div>
                            <div class="col-md-1 text-md-center">
                                <input type="button" value="Agregar" id="btnAgregar"
                                       class="btn btn-info"
                                       onclick="abrirModal()" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


<script src="~/js/sweetalert2.js"></script>
<script src="~/js/Utilitarios.js"></script>
<script>
    function abrirModal() {
        verModal('Agregar Tipo de Actividad', '¿Realmente Desea Agregar Este Tipo de Denuncia?').then((result) => {
            if (result.value) {
                var viewAgregar = document.getElementById("viewAgregar");
                viewAgregar.submit();
                Swal.fire(
                    'El tipo de denuncia fue agregado!',
                    'exitosamente!.',
                    'success'
                )
            }
            else if (result.dismiss === Swal.DismissReason.cancel) {
                Swal.fire(
                    'Cancelado',
                    'El tipo de denuncia no ha sido agregado!!!:)',
                    'error'
                )
            }
        })
    }
</script>
