@model SYGESTMunicipalSync.Areas.OFIM.Models.ViewModel.EmpresaViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutOFIM.cshtml";
    List<SelectListItem> Lista = ViewBag.ListaPersona;
    List<SelectListItem> Lista1 = ViewBag.ListaCatProductoServicio;


}

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="breadcrumb-hero">
            <div class="container">
                <div class="breadcrumb-hero">
                    <h2>Registro de Empresa</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <ol>
                <li><a asp-area="OFIM" asp-controller="Empresa" asp-action="Index">Empresa</a></li>
                <li>Registro de Empresa</li>
            </ol>
        </div>
    </section><!-- End Breadcrumbs -->

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h3 class="text-light"
                style="text-align:center;background-color:darkslategray;">
                Empresa
            </h3>
        </div>
    </div>

    <!-- ======= About Section ======= -->
    <div class="row no-gutters">
        <div class="col-md-7">
            <div class="contact-wrap w-100 p-md-5 p-4">
                <h2 class="text-info">Nuevo Registro</h2>
                <br>
                <form method="post" asp-action="Create" id="viewAgregar">
                    <div class="backgroundWhite">
                        <div asp-validation.summary="ModelOnly" class="text-danger"></div>
                        <div class=" form-group row">
                            <div class=" col-md-2">
                                <h5><label asp-for="Empresa.Nombre" class="col-form-label"></label></h5>
                            </div>
                            <div class="col-md-9">
                                <input asp-for="Empresa.Nombre" class="form-control" />
                            </div>
                            <span asp-validation-for="Empresa.Nombre" class=" text-danger"></span>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-2">
                                <h5><label asp-for="Empresa.Descripcion" class="col-form-label"></label></h5>
                            </div>
                            <div class="col-md-9">
                                <textarea asp-for="Empresa.Descripcion" rows="4" cols="50" class="form-control"> </textarea>
                            </div>
                            <span asp-validation-for="Empresa.Descripcion" class="text-danger"></span>
                        </div>

                        <div class=" form-group row">
                            <div class=" col-md-2">
                                <h5><label asp-for="Empresa.Telefono" class="col-form-label"></label></h5>
                            </div>
                            <div class="col-md-9">
                                <input asp-for="Empresa.Telefono" class="form-control" />
                            </div>
                            <span asp-validation-for="Empresa.Telefono" class=" text-danger"></span>
                        </div>

                        <div class=" form-group row">
                            <div class=" col-md-2">
                                <h5><label asp-for="Empresa.Email" class="col-form-label"></label></h5>
                            </div>
                            <div class="col-md-9">
                                <input asp-for="Empresa.Email" class="form-control" />
                            </div>
                            <span asp-validation-for="Empresa.Email" class=" text-danger"></span>
                        </div>

                        <div class=" form-group row">
                            <div class=" col-md-2">
                                <h5><label asp-for="Empresa.PaginaWeb" class="col-form-label"></label></h5>
                            </div>
                            <div class="col-md-9">
                                <input asp-for="Empresa.PaginaWeb" class="form-control" />
                            </div>
                            <span asp-validation-for="Empresa.PaginaWeb" class=" text-danger"></span>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-2">
                                <h5><label asp-for="Empresa.Ubicacion" class="col-form-label"></label></h5>
                            </div>
                            <div class="col-md-9">
                                <textarea asp-for="Empresa.Ubicacion" rows="4" cols="50" class="form-control"> </textarea>
                            </div>
                            <span asp-validation-for="Empresa.Ubicacion" class="text-danger"></span>
                        </div>

                        <div class=" form-group row">
                            <div class=" col-md-2">
                                <h5><label asp-for="Empresa.Logo" class="col-form-label"></label></h5>
                            </div>
                            <div class="col-md-8">
                                <input type="file" id="projectImage" name="files"
                                       multiple class="form-control" />
                            </div>
                        </div>

                        <div class=" form-group row">
                            <div class=" col-md-2">
                                <h5><label asp-for="Empresa.CatProductoServicioId" class="col-form-label"></label></h5>
                            </div>
                            <div class="col-md-8">
                                <select asp-for="Empresa.CatProductoServicioId" class="form-control" required
                                        asp-items="@Lista1"></select>
                            </div>
                            <span asp-validation-for="Empresa.CatProductoServicioId" class=" text-danger"></span>
                        </div>

                        <div class=" form-group row">
                            <div class=" col-md-2">
                                <h5><label asp-for="Empresa.PersonaId" class="col-form-label"></label></h5>
                            </div>
                            <div class="col-md-8">
                                <select asp-for="Empresa.PersonaId" class="form-control" required
                                        asp-items="@Lista"></select>
                            </div>
                            <span asp-validation-for="Empresa.PersonaId" class=" text-danger"></span>
                        </div>


                        <div class="form-group row">

                            <div class="col-md-4 text-md-right">
                                <a asp-action="Index" type="button" style="color:white"
                                   class="btn btn-warning">
                                    Regresar
                                </a>


                            </div>

                            <div class="col-md-4 text-md-right">
                                <input type="button" value="Agregar" id="btnAgregar"
                                       class="btn btn-info"
                                       onclick="abrirModal()" />
                            </div>

                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<script src="~/js/sweetalert2.js"></script>
<script src="~/js/Utilitarios.js"></script>
<script>
    function abrirModal() {
        verModal('Agregar Empresa', '¿Realmente desea agregar este registro de empresa?').then((result) => {
            if (result.value) {
                var viewAgregar = document.getElementById("viewAgregar");
                viewAgregar.submit();
                Swal.fire(
                    'El registro de empresa fue agregado!',
                    'exitosamente!.',
                    'success'
                )
            }
            else if (result.dismiss === Swal.DismissReason.cancel) {
                Swal.fire(
                    'Cancelado',
                    'El registro de empresa no ha sido agregado!!!:)',
                    'error'
                )
            }
        })
    }
</script>
