@model SYGESTMunicipalSync.Areas.OFIM.Models.ViewModel.EmpresaViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutOFIM.cshtml";

    List<SelectListItem> Lista = ViewBag.ListaPersona;
    List<SelectListItem> Lista1 = ViewBag.ListaCatProductoServicio;


}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="breadcrumb-hero">
            <div class="container">
                <div class="breadcrumb-hero">
                    <h2>Editar Empresa</h2>

                </div>
            </div>
        </div>

        <div class="container">
            <ol>
                <li><a asp-area="OFGA" asp-controller="Empresa" asp-action="Index">Editar Empresa</a></li>
                <li>Empresa</li>
            </ol>
        </div>
    </section><!-- End Breadcrumbs -->
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h3 class="text-light"
                style="text-align:center;background-color:darkslategray;">
                Mostrar
            </h3>
        </div>
    </div>
    <br />
    <form asp-action="Edit" method="post" enctype="multipart/form-data" id="viewEditar">
        <div class="row backgroundWhiteBorder">
            @*<div class="col-md-4 border align-self-baseline">
                    @{
                        var base64 = Convert.ToBase64String(Model.Empresa.Logo);
                        var imgsrc = string.Format("data:image/jpg;base64, {0}", base64);
                    }
                    <img src="@imgsrc" style="height: 100%; width:110%" />
                </div>*@
            <div class="col-md-6 pt-3 pt-lg-0 content">
                <div class="container">
                    <br />
                    <br />
                    <div class="breadcrumb-hero text-md-center">
                        <h2>Detalles de empresa Registrada</h2>
                    </div>
                </div>
                <br />
                <br />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group row">
                    <div class="col-md-3 text-right">
                        <h5><label asp-for="Empresa.Id" class="form-label"></label></h5>
                    </div>
                    <div class="col-md-7">
                        <input asp-for="Empresa.Id" readonly class="form-control" />
                    </div>
                    <span asp-validation-for="Empresa.Id" class="text-danger"></span>
                </div>

                <div class="form-group row">
                    <div class="col-md-3 text-right">
                        <h5><label asp-for="Empresa.Nombre" class="form-label"></label></h5>
                    </div>
                    <div class="col-md-7">
                        <input asp-for="Empresa.Nombre" class="form-control" />
                    </div>
                    <span asp-validation-for="Empresa.Nombre" class="text-danger"></span>
                </div>

                <div class=" form-group row">
                    <div class="col-md-3 text-right">
                        <h5><label asp-for="Empresa.Descripcion" class="col-form-label"></label></h5>
                    </div>
                    <div class="col-md-9">
                        <textarea asp-for="Empresa.Descripcion" rows="4" cols="50"
                                  class="form-control"> </textarea>
                    </div>
                    <span asp-validation-for="Empresa.Descripcion" class="text-danger"></span>
                </div>

                <div class=" form-group row">
                    <div class="col-md-3 text-right">
                        <h5><label asp-for="Empresa.Ubicacion" class="col-form-label"></label></h5>
                    </div>
                    <div class="col-md-9">
                        <textarea asp-for="Empresa.Ubicacion" rows="4" cols="50"
                                  class="form-control"> </textarea>
                    </div>
                    <span asp-validation-for="Empresa.Ubicacion" class="text-danger"></span>
                </div>

                <div class="form-group row">
                    <div class="col-md-3 text-right">
                        <h5><label asp-for="Empresa.Email" class="form-label"></label></h5>
                    </div>
                    <div class="col-md-7">
                        <input asp-for="Empresa.Email" class="form-control" />
                    </div>
                    <span asp-validation-for="Empresa.Email" class="text-danger"></span>
                </div>


                <div class="form-group row">
                    <div class="col-md-3 text-right">
                        <h5><label asp-for="Empresa.PaginaWeb" class="form-label"></label></h5>
                    </div>
                    <div class="col-md-7">
                        <input asp-for="Empresa.PaginaWeb" class="form-control" />
                    </div>
                    <span asp-validation-for="Empresa.PaginaWeb" class="text-danger"></span>
                </div>


                <div class="form-group row">
                    <div class="col-md-3 text-right">
                        <h5><label asp-for="Empresa.Telefono" class="form-label"></label></h5>
                    </div>
                    <div class="col-md-7">
                        <input asp-for="Empresa.Telefono" class="form-control" />
                    </div>
                    <span asp-validation-for="Empresa.Telefono" class="text-danger"></span>
                </div>

                <div class="form-group row">
            <div class="col-md-3 text-right">
                <h5><label asp-for="Empresa.Logo" class="custom-label"></label></h5>
            </div>
            <div class="col-md-7">
                <input type="file" id="projectImage" name="files"
                       multiple class="form-control" />
            </div>
        </div>

                <div class=" form-group row">
                    <div class=" col-md-3">
                        <h5><label asp-for="Persona" class="col-form-label"></label></h5>
                    </div>
                    <div class="col-md-7">
                        <select asp-for="Empresa.PersonaId" class="form-control" required
                                asp-items="@Lista"></select>
                    </div>
                    <span asp-validation-for="Empresa.PersonaId" class=" text-danger"></span>
                </div>

                <div class=" form-group row">
                    <div class=" col-md-3">
                        <h5><label asp-for="Empresa.CatProductoServicioId" class="col-form-label"></label></h5>
                    </div>
                    <div class="col-md-7">
                        <select asp-for="Empresa.CatProductoServicioId" class="form-control" required
                                asp-items="@Lista1"></select>
                    </div>
                    <span asp-validation-for="Empresa.CatProductoServicioId" class=" text-danger"></span>
                </div>



                <div class="form-group row">

                    <div class="col-md-5 text-md-right">
                        <a asp-action="Index" type="button" style="color:white"
                           class="btn btn-warning">
                            Regresar
                        </a>


                    </div>

                    <div class="col-md-5 text-md-right">
                        <input type="button" value="Editar" id="btnEditar"
                               class="btn btn-info" 
                               onclick="abrirModal()" />
                    </div>

                </div>
            </div>
        </div>
    </form>
</main>








<script src="~/js/sweetalert2.js"></script>
<script src="~/js/Utilitarios.js"></script>
<script>
    function abrirModal() {
        verModal('Modificar', '¿Realmente Desea modificar?').then((result) => {
            if (result.value) {
                var viewEditar = document.getElementById("viewEditar");
                viewEditar.submit();
                Swal.fire(
                    'Modificado!',
                    'Operación con éxito!.',
                    'success'
                )
            }
            else if (result.dismiss === Swal.DismissReason.cancel) {
                Swal.fire(
                    'Cancelado',
                    'Operación Fracasada!!!:)',
                    'error'
                )
            }
        })
    }
</script>

