@model SYGESTMunicipalSync.Areas.OFIM.Models.Categoria
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutOFIM.cshtml";
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="breadcrumb-hero">
            <div class="container">
                <div class="breadcrumb-hero">
                    <h2>Eliminar Registro</h2>
                </div>
            </div>
        </div>

        <div class="container">
            <ol>
                <li><a asp-area="OFIM" asp-controller="Categoria" asp-action="Delete">Procesos Formativos></a></li>
                <li>Eliminar Procesos Formativos</li>
            </ol>
        </div>
    </section><!-- End Breadcrumbs -->

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h3 class="text-light"
                style="text-align:center;background-color:darkslategray;">
                Eliminar
            </h3>
        </div>
    </div>
    <br />

    <!-- ======= About Section ======= -->
    <div class="row no-gutters">
        <div class="col-md-7">
            <div class="contact-wrap w-100 p-md-5 p-4">
                <form method="post" asp-action="Delete" id="viewEliminar">
                    <div class="backgroundWhite">
                        <div class=" form-group row">
                            <div class=" col-md-2">
                                <h5><label asp-for="CategoriaId" class="col-form-label"></label></h5>
                            </div>
                            <div class="col-md-9">
                                <input asp-for="CategoriaId" class="form-control" readonly />
                            </div>
                            <span asp-validation-for="CategoriaId" readonly class=" text-danger"></span>
                        </div>

                        <div class=" form-group row">
                            <div class=" col-md-2">
                                <h5><label asp-for="Nombre" class="col-form-label"></label></h5>
                            </div>
                            <div class="col-md-9">
                                <input asp-for="Nombre" readonly class="form-control" />
                            </div>
                            <span asp-validation-for="Nombre" class=" text-danger"></span>
                        </div>

                        @*<div class="form-group row">
                            <div class="col-md-2">
                                <h5><label asp-for="Fecha" class="col-form-label"></label></h5>
                            </div>
                            <div class="col-md-8">
                                <input asp-for="Fecha" type="text" id="datepicker" readonly class="form-control" />
                            </div>
                        </div>*@
                        <div class="form-group row">
                            <div class="col-md-4 text-md-right">
                                <a asp-action="Index" type="button" style="color:white"
                                   class="btn btn-warning">
                                    Regresar
                                </a>
                            </div>

                            <div class="col-md-4 text-md-right">
                                <input type="button" value="Eliminar" id="btnEliminar"
                                       class="btn btn-danger"
                                       onclick="abrirModal()" />
                            </div>


                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<script src="~/js/sweetalert2.js"></script>
<script src="~/js/Utilitarios.js"></script>
<script>
    function abrirModal() {
        verModal('Eliminar', '¿Realmente Desea eliminar el registro?').then((result) => {
            if (result.value) {
                var viewEditar = document.getElementById("viewEliminar");
                viewEditar.submit();
                Swal.fire(
                    'Eliminado!',
                    'Operación con éxito!.',
                    'success'
                )
            }
            else if (result.dismiss === Swal.DismissReason.cancel) {
                Swal.fire(
                    'Cancelado',
                    'Operación Fracasada!!!:)',
                    'error'
                )
            }
        })
    }
</script>