@model SYGESTMunicipalSync.Areas.OFGA.Models.Charlas
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutOFGA.cshtml";
}
<div class="row">
    <div class="col-md-12 col-lg-12">
        <h3 class="text-light"
            style="text-align:center;background-color:#263182;">
            Detalles de Charla
        </h3>
    </div>
</div>
    <div class="backgroundWhite row">
        <div class="col-md-4 border align-self-baseline">

            @{
                var base64 = Convert.ToBase64String(Model.Imagen);
                var imgsrc = string.Format("data:image/jpg;base64, {0}", base64);
            }
            <img src="@imgsrc" style="height: 100%; width:110%" />
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content">
            <div class="container">
                <br />
                <br />
                <div class="breadcrumb-hero text-md-center">
                    <h2>Detalles de charlas Registradas</h2>
                </div>
            </div>
            <br />
            <br />
            <fieldset disabled>
                <div class="form-group row">
                    <div class="col-md-3 text-right">
                        <h5><label asp-for="Nombre" class="custom-label">     Nombre: </label></h5>
                    </div>
                    <div class="col-md-7">
                        <input asp-for="Nombre" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3 text-right">
                        <h5><label asp-for="Descripcion" class="custom-label">Descripción: </label></h5>
                    </div>
                    <div class="col-md-9">
                        <textarea asp-for="Descripcion" readonly rows="4" cols="50"
                                  class="form-control"> </textarea>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-md-3 text-right">
                        <h5><label asp-for="Fecha" class="col-form-label">     Fecha: </label></h5>
                    </div>
                    <div class="col-md-7">
                        <input asp-for="Fecha" readonly type="datetime" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3 text-right">
                        <h5><label asp-for="Lugar" class="custom-label">Ubicación: </label></h5>
                    </div>
                    <div class="col-md-9">
                        <textarea asp-for="Lugar" readonly rows="4" cols="50"
                                  class="form-control"> </textarea>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-md-3 text-right">
                        <h5><label asp-for="Expositor" class="custom-label">Expositor: </label></h5>
                    </div>
                    <div class="col-md-9">
                        <textarea asp-for="Expositor" readonly rows="4" cols="50"
                                  class="form-control"> </textarea>
                    </div>

                </div>

            </fieldset>
            <br />
            <div class="form-group row">
                
                <div class="col-md-5 text-md-right">
                    <a asp-action="Index" type="button" style="color:white"
                       class="btn btn-warning">
                        Regresar
                    </a>


                </div>
            </div>

        </div>
    </div>
