
@{
    ViewData["Title"] = "AseoVias";
    Layout = "~/Views/Shared/_LayoutOFGA.cshtml";
}

<div class="col-lg-6 video-box align-self-baseline">
    <br />
    <br />
    <br />
    <br />
    <br />
    <img src="https://i.pinimg.com/originals/70/51/63/705163c565c7d1fa72e4d2455d9b6b47.png" class="img-fluid" alt="">
    <br />
    <br />
    <br />
    <br />
    <a href="https://www.youtube.com/watch?v=X9ZK9XTM9RQ" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
</div>

<!-- ======= Our Clients Section ======= -->
<section id="main" class="main">
    <div class="container">
        <div class="section-title" data-aos="fade-up">
            <h2>Limpieza de Ríos y Quebradas</h2>
            <p></p>
        </div>
        <div class="owl-carousel clients-carousel" data-aos="fade-up">
            <img src="https://i.pinimg.com/originals/3f/56/3a/3f563a565100336c8a67461a53d6280d.png" alt="">
            @*<img src="https://i.pinimg.com/originals/af/38/7c/af387ca76a386cc5ade50e970e697a84.png" alt="">
                <img src="https://i.pinimg.com/originals/69/e6/02/69e602a396033967e34afd5399d09968.jpg" alt="">
                <img src="https://i.pinimg.com/originals/1b/6d/38/1b6d38f0deb7ce2ea51f699e2864fe50.png" alt="">*@
        </div>
    </div>
</section><!-- End Our Clients Section -->
