
@{
    ViewData["Title"] = "Capacitacion";
    Layout = "~/Views/Shared/_LayoutOFGA.cshtml";
}

<!-- ======= Our Skills Section ======= -->
<section id="skills" class="skills section-bg">
    <div class="container">
        <div class="section-title" data-aos="fade-up">
            <h2>Capacitación</h2>
            <h4>Creando una comunidad con conocimiento.</h4>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="fade-right">
                <img src="https://i.pinimg.com/originals/29/89/a4/2989a45560fe971a30485f781823682d.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" style="text-align:center;background-color:#95C93D;">
                <br />
                <br />
                <h3>Participación de Vecinos en la Biojardinería</h3>
                <h5 class="font-italic">
                    Conocida como humedales artificiales, son sistemas naturales para el tratamiento de:
                </h5>
                <h5 class="font-italic text-left">
                    - Filtros.
                </h5>
                <h5 class="font-italic">
                    -  Proceso y reutilización de aguas grises o jabonosas.
                </h5>
            </div>
        </div>
        <br />
        <br />
        <div class="section-title" data-aos="fade-up">
            <h2>Capacitación</h2>
            <h4>Creando una comunidad con conocimiento.</h4>
        </div>
        <div class="row">
            <div class="col-lg-6" data-aos="fade-right">
                <img src="https://i.pinimg.com/originals/51/84/7e/51847e961b158ad3f7536321f0ca10a6.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" style="text-align:center;background-color:#95C93D;">
                <br />
                <br />
                <h3>Residuos Sólidos y Plásticos de un Solo Uso</h3>
                <br />
                <h5 class="font-italic">
                    Educar sobre la importancia de dejar de utilizar materiales no amigables con el ambiente y sobre el manejo adecuado de los residuos sólidos.
                </h5>
            </div>
        </div>
    </div>
</section><!-- End Our Skills Section -->
<!-- ======= Features Section ======= -->
<section id="features" class="features">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Capacitación Casa por Casa</h2>
            <h4>Nos esforzamos por educar nuestro cantón en temas ambientales.</h4>
        </div>

        <div class="row">
            <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="100">
                <div class="card" style="background-image: url('https://i.pinimg.com/originals/3d/4e/92/3d4e9227460001115b4f7a23a6846140.jpg');">
                    <div class="card-body">
                        <h2>Capacitación Casa por Casa, Monte Romo</h2>
                        <h4 class="card-text">Compromiso con la educación ambiental del cantón, un cantón bien educado en materia ambiental y sostenibilidad, hará la diferencia.</h4>
                    </div>
                    <div class="portfolio-links bg-white">
                        <a href="https://i.pinimg.com/originals/3d/4e/92/3d4e9227460001115b4f7a23a6846140.jpg" data-gall="portfolioGallery" class="venobox text-black-50"><h2><i class="bx bx-plus bg-white"></i>Mostrar Imagen</h2></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up">
                <div class="card" style="background-image: url('https://i.pinimg.com/originals/8e/ff/5a/8eff5ad28b0d2dddc48a65f2b9c9afb7.png'); ">
                    <div class="card-body">
                        <h2>Capacitación Casa por Casa, Huacas</h2>
                        <h4 class="card-text">Fotos de capacitaciones de años anteriores, que ejemplifican el compromiso a la educación ambiental de este departamento.</h4>
                    </div>
                    <div class="portfolio-links bg-white">
                        <a href="https://i.pinimg.com/originals/8e/ff/5a/8eff5ad28b0d2dddc48a65f2b9c9afb7.png" data-gall="portfolioGallery" class="venobox text-black-50"><h2><i class="bx bx-plus bg-white"></i>Mostrar Imagen</h2></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Features Section -->
