
@{
    ViewData["Title"] = "Denuncias";
    Layout = "~/Views/Shared/_LayoutOFGA.cshtml";
}

<br />
<br />
<br />
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="breadcrumb-hero">
        <div class="container">
            <div class="breadcrumb-hero">
                <h2>Denuncias Ambientales</h2>
                <h4>
                    Información para poder identificar las posibles denucias de situaciones que pongan en peligro nuestro medio ambiente.
                </h4>
            </div>
        </div>
    </div>
    <div class="container">
        <ol>
            <li><a asp-area="OFGA" asp-controller="Home" asp-action="Index">Inicio</a></li>
            <li>Denuncias</li>
        </ol>
    </div>
</section><!-- End Breadcrumbs -->
<div class="dbox w-100 text-lg-center">
    <div class="icon d-flex align-items-center justify-content-center">
        <span class="bx-fade-left icon-info-circle"></span>
    </div>
    <div class="text">
        <p><a asp-area="OFGA" asp-controller="Home" asp-action="Index"><h3>Clic aquí, para realizar tu denuncia.</h3></a></p>
    </div>
</div>
<!-- ======= Portfolio Details Section ======= -->
<section id="portfolio-details" class="portfolio-details">
    <div class="container text-center">

        <div class="container" style="text-align: center; width: 70%;">

            <div class="owl-carousel portfolio-details-carousel">
                <img src="https://i.pinimg.com/originals/2f/63/5c/2f635c847037f528f6d698eadfe67d0d.png" class="img-fluid" alt="">
                <img src="https://i.pinimg.com/originals/68/f1/51/68f15115f80f3b39d15124180142d8ab.jpg" class="img-fluid" alt="">
                <img src="https://i.pinimg.com/originals/4d/34/10/4d3410babb686858775eeba7cad0be44.png" class="img-fluid" alt="">
            </div>
        </div>

        <div class="portfolio-description text-left">
            <h2>Las Quemas</h2>
            <h4>- Para realizar una quema controlada agropecuaria, se debe contar con el permiso del Ministerio de Agricultura y Ganadería.</h4><br />
            <h4>- La quema la deben realizar personas mayores de edad.</h4><br />
            <h4>- Se debe realizar a partir de las 4:00 pm hasta las 7:00 pm. Si la propiedad se ubica a menos de 200 metros de escuelas, colegios, guarderías o centros de salud, la quema debe realizarse después de las 7:00 pm.</h4><br />
            <h4>- El responsable de la quema debe notificar dos días antes de la quema a los vecinos.</h4><br />
            <h4>- No se pueden realizar quemas en días ventosos.</h4><br />
            <h4>- Las personas encargadas de la quema no deben irse antes de que el fuego se haya apagado.</h4>
        </div>
    </div>
</section><!-- End Portfolio Details Section -->
<!-- ======= Frequently Asked Questions Section ======= -->
<div class="row">
    <div class="col-md-12 col-lg-12">
        <h3 class="text-light"
            style="text-align:center;background-color:#263182;">
            Según el Tipo de Actividad
        </h3>
    </div>
</div>
<br />
<div class="dbox w-100 text-center">
    <div class="icon d-flex align-items-center justify-content-center">
        <span class="bx-fade-right icon-info-circle"></span>
    </div>
    <div class="text">
        <p><a asp-area="OFGA" asp-controller="Home" asp-action="Index"><h3>Clic aquí, para realizar tu denuncia.</h3></a></p>
    </div>
</div>
<section id="faq" class="faq section-bg">
    <div class="container">
        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up">
            <div class="col-lg-5">
                <i class="bx bx-help-circle"></i>
                <h2>Acitividades comerciales:</h2>
            </div>
            <div class="col-lg-7">
                <h3>
                    Bares, restaurantes, discotecas y otros.<br>
                </h3>
            </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-5">
                <i class="bx bx-help-circle"></i>
                <h2>Habitacionales:</h2>
            </div>
            <div class="col-lg-7">
                <h3>
                    viviendas, condominios, urbanizaciones y otros.<br />
                </h3>
            </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-5">
                <i class="bx bx-help-circle"></i>
                <h2>Actividades  Industriales:</h2>
            </div>
            <div class="col-lg-7">
                <h3>
                    Química, alimentaria, talleres, bodegas y otros<br>
                </h3>
            </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="col-lg-5">
                <i class="bx bx-help-circle"></i>
                <h2>Agroindustria:</h2>
            </div>
            <div class="col-lg-7">
                <h3>
                    Porcinas, beneficios de café, cultivo de helechos y otros.<br />
                </h3>
            </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="col-lg-5">
                <i class="bx bx-help-circle"></i>
                <h2>Centros educativos, de salud y religiosos:</h2>
            </div>
            <div class="col-lg-7">
                <h3>
                    Centros educativos, asistencia social, iglesias y otros.
                </h3>
            </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="col-lg-5">
                <i class="bx bx-help-circle"></i>
                <h2>Otros:</h2>
            </div>
            <div class="col-lg-7">
                <h3>
                    Rellenos  sanitarios,  botaderos  y  otros<br />
                </h3>
            </div>
        </div><!-- End F.A.Q Item-->

    </div>
</section><!-- End Frequently Asked Questions Section -->

<div class="row">
    <div class="col-md-12 col-lg-12">
        <h3 class="text-light"
            style="text-align:center;background-color:#263182;">
            Según el Tipo de Denuncia
        </h3>
    </div>
</div>
<br />
<div class="dbox w-100 text-center">
    <div class="icon d-flex align-items-center justify-content-center">
        <span class="bx-fade-left icon-info-circle"></span>
    </div>
    <div class="text">
        <p><a asp-area="OFGA" asp-controller="Home" asp-action="Index"><h3>Clic aquí, para realizar tu denuncia.</h3></a></p>
    </div>
</div>
<section id="faq" class="faq section-bg">
    <div class="container">
        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up">
            <div class="col-lg-5">
                <i class="bx bx-help-circle"></i>
                <h2>Ruido y vibraciones.</h2>
            </div>
            <div class="col-lg-7">
                <a><img src="~/Ambiental/assets/img/Mascota_05 (1).png" alt=""></a>
            </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up">
            <div class="col-lg-5">
                <i class="bx bx-help-circle"></i>
                <h2>Malos olores.</h2>
            </div>
            <div class="col-lg-8">
                <a><img src="~/Ambiental/assets/img/MascotaDenuncias.png" alt=""></a>
            </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up">
            <div class="col-lg-5">
                <i class="bx bx-help-circle"></i>
                <h2>Humos y gases.</h2>
            </div>
            <div class="col-lg-7">
                <a><img src="~/Ambiental/assets/img/Mascota_03 (1).png" alt=""></a>
            </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up">
            <div class="col-lg-5">
                <i class="bx bx-help-circle"></i>
                <h2>Polvo o partículas.</h2>
            </div>
            <div class="col-lg-8">
                <a><img src="~/Ambiental/assets/img/MascotaDenuncias.png" alt=""></a>
            </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up">
            <div class="col-lg-7">
                <i class="bx bx-help-circle"></i>
                <h2>Aguas negras, tanques sépticos.</h2>
            </div>
            <div class="col-lg-4">
                <a><img src="~/Ambiental/assets/img/Mascota_05 (1).png" alt=""></a>
            </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up">
            <div class="col-lg-8">
                <i class="bx bx-help-circle"></i>
                <h2>Aguas residuales, planta de tratamiento.</h2>
            </div>
            <div class="col-lg-8">
                <a><img src="~/Ambiental/assets/img/MascotaCharlas.png" alt=""></a>
            </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up">
            <div class="col-lg-6">
                <i class="bx bx-help-circle"></i>
                <h2>Aguas pluviales o servidas.</h2>
            </div>
            <div class="col-lg-6">
                <a><img src="~/Ambiental/assets/img/MascotaDenuncias.png" alt=""></a>
            </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up">
            <div class="col-lg-5">
                <i class="bx bx-help-circle"></i>
                <h2>Manejo de desechos.</h2>
            </div>
            <div class="col-lg-8">
                <a><img src="~/Ambiental/assets/img/Mascota_05 (1).png" alt=""></a>
            </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up">
            <div class="col-lg-7">
                <i class="bx bx-help-circle"></i>
                <h2>Contaminación de fuentes de agua.</h2>
            </div>
            <div class="col-lg-5">
                <a><img src="~/Ambiental/assets/img/MascotaDenuncias.png" alt=""></a>
            </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up">
            <div class="col-lg-5">
                <i class="bx bx-help-circle"></i>
                <h2>Quemas.</h2>
            </div>
            <div class="col-lg-8">
                <a><img src="~/Ambiental/assets/img/MascotaCharlas.png" alt=""></a>
            </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up">
            <div class="col-lg-9">
                <i class="bx bx-help-circle"></i>
                <h2>Mala disposición de escombros de construcción.</h2>
            </div>
            <div class="col-lg-3">
                <a><img src="~/Ambiental/assets/img/Mascota_03 (1).png" alt=""></a>
            </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up">
            <div class="col-lg-5">
                <i class="bx bx-help-circle"></i>
                <h2>Otros.</h2>
            </div>
            <div class="col-lg-8">
                <a><img src="~/Ambiental/assets/img/Mascota_01 (2).png" alt=""></a>
            </div>
        </div><!-- End F.A.Q Item-->
    </div>
</section><!-- End Frequently Asked Questions Section -->