
@{
    ViewData["Title"] = "Dia del Agua";
    Layout = "~/Views/Shared/_LayoutOFGA.cshtml";
}

<!-- ======= Breadcrumbs ======= -->
<section id="faq" class="faq section-bg">
    <div class="container">
        <div class="section-title" data-aos="fade-up">
            <h2>Día Mundial del Agua</h2>
            <h4>
                Hacer conciencia de la importancia del agua es de todos, ya que esta se ve amenazada ante el uso desproporcional por el crecimiento de la población, la demanda de la industrias y la agricultura, añadiendo a ello la contaminación en la que se encuntra vulnerable y el cambio climático que la afecta directamente, son entre otras las causas que tiene en peligro este líquido vital para la existencia tanto humana, como de la vida misma.
            </h4>
        </div>
        <div class="container">
            <div>
                <h4><a asp-area="OFGA" asp-controller="Home" asp-action="Index">Gestión Ambiental</a></h4>
            </div>
        </div>
    </div>
</section><!-- End Breadcrumbs -->
<main id="main">
 <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-6 video-box align-self-baseline">
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <img src="https://i.pinimg.com/originals/70/51/63/705163c565c7d1fa72e4d2455d9b6b47.png" class="img-fluid" alt="">
                    <br />
                    <br />
                    <br />
                    <br />
                    <a href="https://www.youtube.com/watch?v=X9ZK9XTM9RQ" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
                </div>

                <div class="col-lg-6 pt-3 pt-lg-0 content text-white">
                    <br />
                    <br />
                    <br />
                    <h3>La Importancia del Agua</h3>
                    <p class="font-italic">
                        Según la Organización de las Naciones Unidas (ONU) 2200 millones de personas en la actualidad, viven sin acceso a agua potable.
                    </p>
                    <ul>
                        <li><i class="bx bx-check-double"></i> Según este estudio revela que a nivel mundial solo África tiene a la mitada de la población, bebiendo agua de fuentes no protegidas.</li>
                        <li><i class="bx bx-check-double"></i> En Áfirca subsahariana solo el 24%  cuenta con acceso al agua potable. Con los datos suministrados por la ONU, solo hace caer en conciencia que aunque el agua sea un Derecho Humano, miles y millones de personas aún no cuentan con acceso a ella.</li>
                    </ul>
                </div>

            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Our Skills Section ======= -->
    <section id="skills" class="skills section-bg">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>El Agua Como Derecho Humano</h2>
                <p>En el año 2010, con la resolución 64/292, la Asamblea General de las Naciones Unidas, reconoció el derecho humano al agua y al saneamiento.</p>
            </div>

            <div class="row">
                <div class="col-lg-6" data-aos="fade-right">
                    <img src="https://i.pinimg.com/originals/54/3f/00/543f00bb13b30ccaf52cf2e33484524e.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
                    <h3>Cómo Podemos Cuidar el Agua</h3>
                    <p class="font-italic">
                        Cierra la tuvería mientras no la uses.
                    </p>
                    <p class="font-italic">
                        Repara las fugas.
                    </p>
                    <p class="font-italic">
                        No tires basura en los ríos, ni en los mares.
                    </p>
                    <p>
                        Estos son solo pequeños aportes que todos podemos hacer para aportar nuestro granito de arena para proteger y salvaguardar este recurso vital.<br /> ¡Por ud, por los suyos, por nosotros y los nuestros!<br /> Por contar con un futuro con acceso al agua para todos.
                    </p>
                </div>
            </div>
        </div>
    </section><!-- End Our Skills Section -->
    <!-- ======= Our Clients Section ======= -->
    <section id="main" class="main">
        <div class="container">
            <div class="section-title" data-aos="fade-up">
                <h2>Limpieza de Ríos y Quebradas</h2>
                <p></p>
            </div>
            <div class="owl-carousel clients-carousel" data-aos="fade-up">
                <img src="https://i.pinimg.com/originals/aa/f8/ce/aaf8cef8153b65a104d5227fa5580197.jpg" alt="">
                <img src="https://i.pinimg.com/originals/af/38/7c/af387ca76a386cc5ade50e970e697a84.png" alt="">
                <img src="https://i.pinimg.com/originals/69/e6/02/69e602a396033967e34afd5399d09968.jpg" alt="">
                <img src="https://i.pinimg.com/originals/1b/6d/38/1b6d38f0deb7ce2ea51f699e2864fe50.png" alt="">
            </div>
        </div>
    </section><!-- End Our Clients Section -->

</main><!-- End #main -->