
@{
    ViewData["Title"] = "DiaArbol";
    Layout = "~/Views/Shared/_LayoutOFGA.cshtml";
}

<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq section-bg">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Hazaña Ecológica de Hojancha</h2>
            <h5>A inicio de los 90, Hojancha vivió sus momentos más dificiles por el impacto ambiental que había causado la deforestacón desproporcionada de árboles, dejándose llevar por la fiebre de la ganadería y la busqueda del progreso del cantón de forma equivocada, su fin para esa época, fue caer en crisis.</h5>
        </div>
        <div class="container">
            <div>
                <h4><a asp-area="OFGA" asp-controller="Home" asp-action="Index">Gestión Ambiental</a></h4>
            </div>
        </div>
        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" style="text-align:left;background-color:#95C93D;">
            <div class="col-lg-5">
                <i class="bx bx-help-circle"></i>
                <h2>Consecuencias de la Deforestación</h2>
            </div>
            <div class="col-lg-7">
                <h5>
                    Como consecuencia de deforestar los árboles que se encontraban en las cercanías del Río Nosara, este llegó a secarse, provocando una escases de agua.
                </h5>
            </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100" style="text-align: left; background-color: #263182;">
            <div class="col-lg-5">
                <i class="bx bx-help-circle"></i>
                <h2>Caída del Progreso</h2>
            </div>
            <div class="col-lg-7">
                <h5>
                    Según un informe de las Naciones Unidas para la Alimentación y la Agricultura (FAO), para 1935 Hojancha contaba con 11.236 cabezas de ganado y para 1963 ya contaba con 101.421 cabezas de ganado y solo con un 2% de reserva protegida,
                    afectando esto directamente a la cuenca del Río Nosara, el cual abastecía el acueducto del pueblo y el cual se secó por falta de vegetación en sus cercanías. La escases de agua, añadiendo a esto la caída del precio de la carne, provocó inclusive,
                    que muchas personas buscaran como migrar a otros lugares y una crisis de niveles incalculables para la población de ese entonces.
                </h5>
            </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200" style="text-align:left;background-color:#95C93D;">
            <div class="col-lg-5">
                <i class="bx bx-help-circle"></i>
                <h2>Renacimiento</h2>
            </div>
            <div class="col-lg-7">
                <h5>
                    Ante la actual situación que imperaba en el cantón, surgió la motivación e idea en 3 amigos, la cual era, levantarse y revertir la causa de la sequía que tenía en crisis el catón, la idea fue clara y era de forestar lo deforestado, de arborizar y darle vida nuevamente al cantón.
                    La idea tuvo efectos positivos y a través de esta, nace la Reserva Monte Alto. Reserva que hace que el Río Nosara, volviera a la vida y con ello su población pudiera salir de la crisis.
                </h5>
            </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300" style="text-align: left; background-color: #263182;">
            <div class="col-lg-5">
                <i class="bx bx-help-circle"></i>
                <h2>Aprendizaje de Vida</h2>
            </div>
            <div class="col-lg-7">
                <h5>
                    Después de esto se comenzaron a recibir clases de educación ambiental y a darle importancia a la necesidad de un ecosistema lleno de árboles.
                </h5>
            </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400" style="text-align:left;background-color:#95C93D;">
            <div class="col-lg-5">
                <i class="bx bx-help-circle"></i>
                <h2>Los Árboles y su Importancia</h2>
            </div>
            <div class="col-lg-7">
                <h5>
                    El caso de Hojancha y las secuelas de la deforestación que vivió, es el más claro para enteder la importancia de los árboles, el progreso siempre tiene que ir de la mano con la conservación y con el sostenimiento de un avance que toma en cuenta
                    la importancia de no alterar el ecosistema, del cual, de igual forma, dependemos. ¡No a la deforestación, no a la tala desmedidad! Valoremos la importancia de los árboles...
                </h5>
            </div>
        </div><!-- End F.A.Q Item-->

    </div>
</section><!-- End Frequently Asked Questions Section -->
