
@{
    ViewData["Title"] = "DiaAmbiente";
    Layout = "~/Views/Shared/_LayoutOFGA.cshtml";
}

<br />
<br>
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="breadcrumb-hero" style="text-align:center;background-color:#95C93D;">
        <h2>5 de Junio, "Día Mundial del Medio Ambiente"</h2>
        <h4>
            Ahorremos agua y energía, cuidemos los ríos y los animales, aprendamos a reutilizar y a reciclar,
            no tiremos basura, protejamos los bosques, reduzcamos el consumo y cuidemos nuestras
            fuentes de agua.
        </h4>
    </div>
    <br />
    <div class="container">
        <div>
            <h4><a asp-area="OFGA" asp-controller="Home" asp-action="Index">Gestión Ambiental</a></h4>
        </div>
    </div>
</section><!-- End Breadcrumbs -->
<main id="main">
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container text-center">

            <div class="container" style="text-align: center; width: 80%;">

                <div class="owl-carousel portfolio-details-carousel">
                    <img src="https://i.pinimg.com/originals/05/8c/1a/058c1af9b4e6bfa3d5fe8be4140a3ce6.jpg" class="img-fluid" alt="">
                    <img src="https://i.pinimg.com/originals/5b/59/b9/5b59b9f28b02f518b4af915984c1e2cf.png" class="img-fluid" alt="">
                    <img src="https://i.pinimg.com/originals/f6/e9/bc/f6e9bc39b03d69077ed1be78c2cfae0b.png" class="img-fluid" alt="">
                    <img src="https://i.pinimg.com/originals/36/f8/c2/36f8c23cc7f4ee7984490de0d8d092f8.png" class="img-fluid" alt="">
                    <img src="https://i.pinimg.com/originals/93/8c/7c/938c7c302314a62468af4194b4b0824d.png" class="img-fluid" alt="">
                </div>
            </div>

            <div class="portfolio-description text-left">
                <h2>Arborización Urbana y Adopción de Árboles</h2>
                <h5>En la Semana del Ambiente, insentivamos a la comunidad a adoptar y sembrar árboles.</h5><br />
                <h2>¿Qué beneficios da un árbol?</h2>
                <h5>- Produce oxígeno y purifica el aire al absorver el dióxido de carbono.</h5><br />
                <h5>- Disminuye el riesgo de inundaciones, desprendimientos de los terrenos, entre muchos otros.</h5><br />
                <h5>- Fértilizan los suelos y evitan erociones.</h5><br />
                <h5>- Mantienen los ríos limpios.</h5><br />
                <h5>- Recogen agua para los acuíferos.</h5><br />
            </div>
        </div>
    </section><!-- End Portfolio Details Section -->
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container text-center">

            <div class="container" style="text-align: center; width: 80%;">

                <div class="owl-carousel portfolio-details-carousel">
                    <img src="https://i.pinimg.com/originals/83/8a/03/838a037b2752a003dae44f00bb8ea03e.png" class="img-fluid" alt="">
                    <img src="https://i.pinimg.com/originals/9e/b4/c0/9eb4c05a9a08ab6b0ba6d72ddea8dc38.png" class="img-fluid" alt="">
                    <img src="https://i.pinimg.com/originals/3f/e3/48/3fe348c6a5a6d001c28be2f764e05c01.png" class="img-fluid" alt="">
                </div>
            </div>

            <div class="portfolio-description text-left">
                <h2>"Jale a Monte Alto"</h2>
                <h5>En la Semana del Ambiente, insentivamos a armonizar con la naturaleza.</h5><br />
                <h2>¿Qué beneficios da un árbol?</h2>
                <h5>- Hacen que la temperatura de los suelos se reduzca.</h5><br />
                <h5>- Absorber la contaminación sónica ya que llegan a reducir hasta un 50% del ruido producido por el tráfico.</h5><br />
                <h5>- Regeneran los nutrientes del suelo.</h5><br />
                <h5>- Sirven como refugio, hogar y fuente de alimento para las aves.</h5><br />
                <h5>- Hace que la vista de los paisajes sea agradable.</h5><br />
            </div>
        </div>
    </section><!-- End Portfolio Details Section -->
    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Educación Ambiental</h2>
                <h4>Nos esforzamos por educar nuestro cantón en temas ambientales.</h4>
            </div>

            <div class="row">
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card" style="background-image: url('https://i.pinimg.com/originals/29/89/a4/2989a45560fe971a30485f781823682d.jpg');">
                        <div class="card-body">
                            <h2>Biojardinería</h2>
                            <h4 class="card-text">Conocida como humedales artificiales, son sistemas naturales para el tratamiento, filtro, proceso y reutilización de aguas grises o jabonosas.</h4>
                        </div>
                        <div class="portfolio-links bg-white">
                            <a href="https://i.pinimg.com/originals/29/89/a4/2989a45560fe971a30485f781823682d.jpg" data-gall="portfolioGallery" class="venobox text-black-50"><h2><i class="bx bx-plus bg-white"></i>Mostrar</h2></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up">
                    <div class="card" style="background-image: url('https://i.pinimg.com/originals/42/ce/c5/42cec57436d5ce702b2fedc08c20445e.png');">
                        <div class="card-body">
                            <h2>Capacitación Casa por Casa, Huacas</h2>
                            <h4 class="card-text">Fotos de capacitaciones de años anteriores, que ejemplifican el compromiso a la educación ambiental de este departamento.</h4>
                        </div>
                        <div class="portfolio-links bg-white">
                            <a href="https://i.pinimg.com/originals/42/ce/c5/42cec57436d5ce702b2fedc08c20445e.png" data-gall="portfolioGallery" class="venobox text-black-50"><h2><i class="bx bx-plus bg-white"></i>Mostrar</h2></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="card" style="background-image: url('https://i.pinimg.com/originals/2e/4f/28/2e4f28111918b6401e13efd7c2c413e5.jpg');">
                        <div class="card-body">
                            <h2>Capacitación Casa por Casa, Monte Romo</h2>
                            <h4 class="card-text">Compromiso con la educación ambiental del cantón.</h4>
                        </div>
                        <div class="portfolio-links bg-white">
                            <a href="https://i.pinimg.com/originals/2e/4f/28/2e4f28111918b6401e13efd7c2c413e5.jpg" data-gall="portfolioGallery" class="venobox text-black-50"><h2><i class="bx bx-plus bg-white"></i>Mostrar</h2></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="card" style="background-image: url('https://i.pinimg.com/originals/51/84/7e/51847e961b158ad3f7536321f0ca10a6.jpg');">
                        <div class="card-body">
                            <h2>Residuos Sólidos y Plásticos de un Solo Uso</h2>
                            <h4 class="card-text">Educar sobre la importancia de dejar de utilizar materiales no amigables con el ambiente.</h4>
                        </div>
                        <div class="portfolio-links bg-white">
                            <a href="https://i.pinimg.com/originals/51/84/7e/51847e961b158ad3f7536321f0ca10a6.jpg" data-gall="portfolioGallery"
                               class="venobox text-black-50"><h2><i class="bx bx-plus bg-white"></i>Mostrar</h2></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Features Section -->

</main><!-- End #main -->
