
@{
    ViewData["Title"] = "EcoRomeria";
    Layout = "~/Views/Shared/_LayoutOFGA.cshtml";
}
<br />
<br />
<br />
<!-- ======= Work Process Section ======= -->
<section id="work-process" class="work-process">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Eco Romería</h2>
            <h4>Que tu promesa no ensucie, es una campaña de concientización para que al cumplir tu promesa, esta vaya acompañada de la responsabilidad de mantener<br /> nuestro medio ambiente limpio.</h4>
        </div>

        <div class="row content">
            <div class="col-md-5" data-aos="fade-right">
                <img src="https://i.pinimg.com/originals/cb/0d/b4/cb0db49eae30bca80e23e454491941e6.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-4" data-aos="fade-left" style="text-align:center;background-color:#95C93D;">
                >
                <h2>Basureros en puntos estratégicos.</h2>
                <h4 class="font-italic">
                    La Municipalidad de Hojancha con el afán de mantener la ruta de la caminata libre de basura, permite la accesibilidad de basureros en puntos espcíficos, para favorecer a los romeros y con ello, favorecer de igual manera, el mantenimiento de la limpieza evitando tiraderos de basura.
                </h4>
                <a><img src="~/Ambiental/assets/img/MascotaEduquemonos.png" alt=""></a>
            </div>
            
        </div>

        <div class="row content">
            <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
                <img src="https://i.pinimg.com/originals/53/b4/7c/53b47cded14f31a64d4895c35fff0edf.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
                <h2>Cumplí con tu promesa, cumplí con el medio ambiente</h2>
                <h4 class="font-italic">
                   La fe es una de las bases que han caracterizado a este libre país, de igual forma, una de sus características es nuestra naturaleza y ecosistema, cumplamos con mantenerlo limpio.
                </h4>
                <h4>
                   Responsabilidad con Dios, responsabilidad con su creación.
                </h4>
                <a><img src="~/Ambiental/assets/img/MascotaCharlas.png" alt=""></a>
            </div>
        </div>

        <div class="row content">
            <div class="col-md-5" data-aos="fade-right">
                <img src="https://i.pinimg.com/originals/b4/aa/42/b4aa4296a7ec34b89165e25e3f652e0c.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5" data-aos="fade-left"  style="text-align:center;background-color:#95C93D;">
                <h2>No Tires Basura</h2>
                <h4>En tu caminata a cumplir tu promesa, recordá no tirar basura, mejor depositala en los basureros correspondientes y hacé una promesa limpia.</h4>
                <a><img src="~/Ambiental/assets/img/MascotaEduquemonos.png" alt=""></a>
            </div>
        </div>

        <div class="row content">
            <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
                <img src="https://i.pinimg.com/originals/64/49/fc/6449fcbc6c83da6dcf169e7dc3bb8c27.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
                <h2>Fe y Respeto</h2>
                <h4 class="font-italic">
                    Respetar las normas ambientales y no tirar basura en el suelo es deber de todos.
                </h4>
                <a><img src="~/Ambiental/assets/img/MascotaDenuncias.png" alt=""></a>
            </div>
        </div>

    </div>
</section><!-- End Work Process Section -->
