
@{
    ViewData["Title"] = "RecoleccionBasura";
    Layout = "~/Views/Shared/_LayoutOFGA.cshtml";
}

<br />
<br />
<br />
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="breadcrumb-hero">
        <div class="container">
            <div class="breadcrumb-hero">
                <h2>RECOLECCIÓN DE BASURA</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <ol>
            <li><a asp-area="OFGA" asp-controller="Home" asp-action="IndexEduquemonos">Eduquémonos</a></li>
            <li>Recolección de Basura</li>
        </ol>
    </div>
</section><!-- End Breadcrumbs -->
<!-- ======= Portfolio Details Section ======= -->
<section id="portfolio-details" class="portfolio-details">
    <div class="container text-center">

        <div class="container" style="text-align: center; width: 60%;">

            <div class="owl-carousel portfolio-details-carousel">
                <img src="https://i.pinimg.com/originals/68/b5/ed/68b5ed96714bd4dc42c2ed0d20d7a6c8.png" class="img-fluid" alt="">
                <img src="https://i.pinimg.com/originals/12/9d/a5/129da5021034cfa9a1c911674057357b.png" class="img-fluid" alt="">
            </div>

        </div>
        <div class="portfolio-description text-left">
            <h2>RUTAS Y HORARIOS DE RECOLECCIÓN</h2>

            <h2>Rutas:</h2><h5>Hojancha, Monte Romo, Huacas, Puerto Carrillo</h5>

            <h2>Horario de Recolección de Basura en Hojancha</h2>
            <h5>Los martes y viernes a partir de las 5 a.m.</h5><br />
            <h2>Horario de Recolección de Basura en Puerto Carrillo</h2>
            <h5>Los lunes y jueves a partir de las 5 a.m.</h5><br />
            <h2>Horario de Recolección de Basura en Monte Romo y Huacas</h2>
            <h5>Los miércoles a partir de las 5 a.m.</h5><br />
        </div>
    </div>
</section><!-- End Portfolio Details Section -->
