@model SYGESTMunicipalSync.Areas.OFIM.Models.TipoConsulta

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutOFIM.cshtml";
}

<div class="row">
    <div class="col-md-12 col-lg-12">
        <h3 class="text-light"
            style="text-align:center;background-color:#263182;">
            Registrar Tipo de Consulta
        </h3>
    </div>
</div>
<!-- ======= About Section ======= -->
<div class="row no-gutters">
    <div class="col-md-7">
        <div class="contact-wrap w-100 p-md-5 p-4">
            <h2 class="text-info">Nuevo Registro</h2>
            <br>
            <form method="post" asp-area="OFIM" asp-controller="TipoConsulta" asp-action="Create" id="viewAgregar">
                <div class="backgroundWhite">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                  


                    <div class=" form-group row">
                        <div class=" col-md-2">
                            <h5><label asp-for="Nombre" class="col-form-label"></label></h5>
                        </div>
                        <div class="col-md-9">
                            <input asp-for="Nombre" class="form-control" />
                        </div>
                        <span asp-validation-for="Nombre" class=" text-danger"></span>
                    </div>




                    <div class="form-group row">

                        <div class="col-md-4 text-md-right">
                            <a asp-action="Index" type="button" style="color:white"
                               class="btn btn-success fa fa fa-arrow-circle-left inicio">
                                Regresar
                            </a>
                        </div>
                        <div class="col-md-1 text-md-center">
                            <input type="button" value="Agregar" id="btnAgregar"
                                   class="btn btn-info"
                                   onclick="abrirModal()" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/js/sweetalert2.js"></script>
<script src="~/js/Utilitarios.js"></script>
<script>
    function abrirModal() {
        verModal('Agregar tipo de consulta', '¿Realmente desea agregar este registro de tipo de consulta?').then((result) => {
            if (result.value) {
                var viewAgregar = document.getElementById("viewAgregar");
                viewAgregar.submit();
                Swal.fire(
                    'El registro de tipo de consulta fue agregado!',
                    'exitosamente!.',
                    'success'
                )
            }
            else if (result.dismiss === Swal.DismissReason.cancel) {
                Swal.fire(
                    'Cancelado',
                    'El registro de tipo de consulta no ha sido agregado!!!:)',
                    'error'
                )
            }
        })
    }
</script>
